extends layout

append links
	link(href='../assets/css/main-menu.css' rel='stylesheet')

block content
	.section.hero-section
		.text-center
			h1 beverages menu
	.section.menu-section
		.row
			.col-md-6
				h4 HOT BEVERAGES
				ul.list-group
					li.list-group-item.list-group-item-action
						.d-flex
							p Filter Coffee
							hr.divider
							p 300/=
					li.list-group-item.list-group-item-action
						.d-flex
							p African Tea
							hr
							p 200/=
					li.list-group-item.list-group-item-action
						.d-flex
							p Black Tea
							hr
							p 200/=
					li.list-group-item.list-group-item-action
						.d-flex
							p Spiced Tea
							hr
							p 250/=
					li.list-group-item.list-group-item-action
						.d-flex
							p Herbal Tea
							hr.divider
							p 300/=
						small
							smal.text-muted Mint, early gray, chamomile, green tea, green lemon
					li.list-group-item.list-group-item-action
						.d-flex
							p Espresso
							hr.divider
							p 350/=
					li.list-group-item.list-group-item-action
						.d-flex
							p Cappuccino
							hr.divider
							p 400/=
					li.list-group-item.list-group-item-action
						.d-flex
							p Late
							hr.divider
							p 350/=
					li.list-group-item.list-group-item-action
						.d-flex
							p Cafe` Mocha
							hr.divider
							p 350/=
					li.list-group-item.list-group-item-action
						.d-flex
							p Milk Shakes
							hr.divider
							p 350/=
						small
							smal.text-muted Vanilla, Strawberry and Chocolate
			.col-md-6
				h4 SOFT DRINK/WATER
				ul.list-group
					li.list-group-item.list-group-item-action
						.d-flex
							p Keringet Water 500ml
							hr.divider
							p 150/=
					li.list-group-item.list-group-item-action
						.d-flex
							p Keringet Water 1l
							hr
							p 200/=
					li.list-group-item.list-group-item-action
						.d-flex
							p Dasani Water 500ml
							hr
							p 150/=
					li.list-group-item.list-group-item-action
						.d-flex
							p Soda
							hr
							p 150/=
					li.list-group-item.list-group-item-action
						.d-flex
							p Healthy Juice
							hr.divider
							p 450/=
					li.list-group-item.list-group-item-action
						.d-flex
							p Orange
							hr.divider
							p 450/=
					li.list-group-item.list-group-item-action
						.d-flex
							p Mango
							hr.divider
							p 300/=
					li.list-group-item.list-group-item-action
						.d-flex
							p Passion Juice
							hr.divider
							p 300/=
					li.list-group-item.list-group-item-action
						.d-flex
							p Cocktail Juice
							hr.divider
							p 300/=
					li.list-group-item.list-group-item-action
						.d-flex
							p Packed Juice
							hr.divider
							p 450/=
					li.list-group-item.list-group-item-action
						.d-flex
							p Lemonade
							hr.divider
							p 300/=
					li.list-group-item.list-group-item-action
						.d-flex
							p Milk Shakes
							hr.divider
							p 300/=
			.col-md-6
				h4 BEERS/CIDER
				ul.list-group
					li.list-group-item.list-group-item-action
						.d-flex
							p All local beers
							hr.divider
							p 250/=
					li.list-group-item.list-group-item-action
						.d-flex
							p Guinness
							hr
							p 300/=
					li.list-group-item.list-group-item-action
						.d-flex
							p Guinness Smooth
							hr
							p 300/=
					li.list-group-item.list-group-item-action
						.d-flex
							p Heineken
							hr
							p 300/=
					li.list-group-item.list-group-item-action
						.d-flex
							p Guarana
							hr.divider
							p 250/=
					li.list-group-item.list-group-item-action
						.d-flex
							p Smirnoff black ice
							hr.divider
							p 250/=
					li.list-group-item.list-group-item-action
						.d-flex
							p Mango
							hr.divider
							p 300/=
					li.list-group-item.list-group-item-action
						.d-flex
							p Passion Juice
							hr.divider
							p 300/=
					li.list-group-item.list-group-item-action
						.d-flex
							p Cocktail Juice
							hr.divider
							p 300/=
					li.list-group-item.list-group-item-action
						.d-flex
							p Packed Juice
							hr.divider
							p 450/=
					li.list-group-item.list-group-item-action
						.d-flex
							p Lemonade
							hr.divider
							p 300/=
					li.list-group-item.list-group-item-action
						.d-flex
							p Milk Shakes
							hr.divider
							p 300/=
			.col-md-6
				h4 ENERGY DRINKS
				ul.list-group
					li.list-group-item.list-group-item-action
						.d-flex
							p Red Bull
							hr.divider
							p 300/=
					li.list-group-item.list-group-item-action
						.d-flex
							p Shark
							hr
							p 300/=
					li.list-group-item.list-group-item-action
						.d-flex
							p Monster
							hr
							p 300/=
			.col-md-6
				h4 APPERITIFS AND VERMOUTH
				ul.list-group
					li.list-group-item.border-0
						.d-flex
							p
							p TOT
							p BOTTLE
					li.list-group-item.list-group-item-action
						.d-flex
							p Campari Bitters
							p 200/=
							p 4500/=
					li.list-group-item.list-group-item-action
						.d-flex
							p Martini Bianco
							p 200/=
							p 3500/=
					li.list-group-item.list-group-item-action
						.d-flex
							p Martini Rosso
							p 200/=
							p 3500/=
					li.list-group-item.list-group-item-action
						.d-flex
							p Sambuca
							p 200/=
							p 4000/=
			.col-md-6
				h4 PREMIUM WHISKIES/BOURBONS
				ul.list-group
					li.list-group-item.border-0
						.d-flex
							p
							p TOT
							p BOTTLE
					li.list-group-item.list-group-item-action
						.d-flex
							p JW Red Label
							p 200/=
							p 4500/=
					li.list-group-item.list-group-item-action
						.d-flex
							p JW Black Label
							p 400/=
							p 8000/=
					li.list-group-item.list-group-item-action
						.d-flex
							p JW Song of Ice
							p 400/=
							p 8000/=
					li.list-group-item.list-group-item-action
						.d-flex
							p JW Song of Fire
							p 400/=
							p 8000/=
					li.list-group-item.list-group-item-action
						.d-flex
							p JW Green Label
							p 500/=
							p 10000/=
					li.list-group-item.list-group-item-action
						.d-flex
							p JW Double Black
							p 500/=
							p 11000/=
					li.list-group-item.list-group-item-action
						.d-flex
							p JW Gold Label
							p 600/=
							p 12000/=
					li.list-group-item.list-group-item-action
						.d-flex
							p JW Platinum
							p 700/=
							p 13000/=
					li.list-group-item.list-group-item-action
						.d-flex
							p JW Blue
							p 1200/=
							p 30000/=
					li.list-group-item.list-group-item-action
						.d-flex
							p Famous Grouse
							p 250/=
							p 4500/=
					li.list-group-item.list-group-item-action
						.d-flex
							p Chivas Legal 18yrs
							p 600/=
							p 12000/=
					li.list-group-item.list-group-item-action
						.d-flex
							p Chivas Legal 15yrs
							p 400/=
							p 7500/=
					li.list-group-item.list-group-item-action
						.d-flex
							p Grants
							p 250/=
							p 4500/=
					li.list-group-item.list-group-item-action
						.d-flex
							p J & B
							p 200/=
							p 4500/=
					li.list-group-item.list-group-item-action
						.d-flex
							p Jameson
							p 250/=
							p 4500/=
					li.list-group-item.list-group-item-action
						.d-flex
							p Jack Daniels Honey
							p 450/=
							p 8000/=
					li.list-group-item.list-group-item-action
						.d-flex
							p Jack Daniels
							p 400/=
							p 7000/=
			.col-md-6
				h4 SINGLE MALT WHISKIES
				ul.list-group
					li.list-group-item.border-0
						.d-flex
							p
							p TOT
							p BOTTLE
					li.list-group-item.list-group-item-action
						.d-flex
							p Glen Fiddich 18yrs
							p 600/=
							p 12000/=
					li.list-group-item.list-group-item-action
						.d-flex
							p Glen Fiddich 15yrs
							p 500/=
							p 10500/=
					li.list-group-item.list-group-item-action
						.d-flex
							p Glen Fiddich 12yrs
							p 400/=
							p 7000/=
					li.list-group-item.list-group-item-action
						.d-flex
							p Glen Livet 18yrs
							p 600/=
							p 12000/=
					li.list-group-item.list-group-item-action
						.d-flex
							p Glen Livet 15yrs
							p 500/=
							p 10500/=
					li.list-group-item.list-group-item-action
						.d-flex
							p Glen Livet resv
							p 500/=
							p 10500/=
					li.list-group-item.list-group-item-action
						.d-flex
							p Singleton Dufftown 18yrs
							p 600/=
							p 12500/=
					li.list-group-item.list-group-item-action
						.d-flex
							p Singleton Dufftown 15yrs
							p 500/=
							p 12000/=
					li.list-group-item.list-group-item-action
						.d-flex
							p Singleton Dufftown 12yrs
							p 400/=
							p 8000/=
					li.list-group-item.list-group-item-action
						.d-flex
							p Singleton Tail Fire 12yrs
							p 400/=
							p 8000/=
					li.list-group-item.list-group-item-action
						.d-flex
							p Talisker
							p 500/=
							p 10000/=
					li.list-group-item.list-group-item-action
						.d-flex
							p Lagavulin
							p 500/=
							p 12000/=
					li.list-group-item.list-group-item-action
						.d-flex
							p Cardhu 750ml
							p 400/=
							p 10000/=
					li.list-group-item.list-group-item-action
						.d-flex
							p Dalwhinnie
							p 400/=
							p 7000/=
					li.list-group-item.list-group-item-action
						.d-flex
							p Jameson
							p 250/=
							p 4500/=
					li.list-group-item.list-group-item-action
						.d-flex
							p Jack Daniels Honey
							p 450/=
							p 8000/=
					li.list-group-item.list-group-item-action
						.d-flex
							p Jack Daniels
							p 400/=
							p 7000/=
			.col-md-6
				h4 GIN
				ul.list-group
					li.list-group-item.border-0
						.d-flex
							p
							p TOT
							p BOTTLE
					li.list-group-item.list-group-item-action
						.d-flex
							p Gilbeys
							p 200/=
							p 4000/=
					li.list-group-item.list-group-item-action
						.d-flex
							p Gordons
							p 200/=
							p 4000/=
					li.list-group-item.list-group-item-action
						.d-flex
							p Tanqueray No 10
							p 250/=
							p 5500/=
					li.list-group-item.list-group-item-action
						.d-flex
							p Tanqueray Dry Air
							p 250/=
							p 4000/=
					li.list-group-item.list-group-item-action
						.d-flex
							p Beefeater
							p 250/=
							p 4000/=
					li.list-group-item.list-group-item-action
						.d-flex
							p Bombay
							p 200/=
							p 4000/=
			.col-md-6
				h4 VODKA
				ul.list-group
					li.list-group-item.border-0
						.d-flex
							p
							p TOT
							p BOTTLE
					li.list-group-item.list-group-item-action
						.d-flex
							p Stolichnaya
							p 200/=
							p 4000/=
					li.list-group-item.list-group-item-action
						.d-flex
							p Absolute
							p 200/=
							p 4000/=
					li.list-group-item.list-group-item-action
						.d-flex
							p Grey Goose 1Ltrs
							p 500/=
							p 14000/=
					li.list-group-item.list-group-item-action
						.d-flex
							p Sky Vodka
							p 250/=
							p 4500/=
					li.list-group-item.list-group-item-action
						.d-flex
							p Cîroc (Blue, Red)
							p 300/=
							p 5500/=
					li.list-group-item.list-group-item-action
						.d-flex
							p Smirnoff Red
							p 200/=
							p 4000/=
					li.list-group-item.list-group-item-action
						.d-flex
							p Ketel One
							p 200/=
							p 4000/=
			.col-md-6
				h4 COGNAC/BRANDIES
				ul.list-group
					li.list-group-item.border-0
						.d-flex
							p
							p TOT
							p BOTTLE
					li.list-group-item.list-group-item-action
						.d-flex
							p Remy Martin VSOP
							p 700/=
							p 12000/=
					li.list-group-item.list-group-item-action
						.d-flex
							p Remy Martin VS
							p 400/=
							p 8000/=
					li.list-group-item.list-group-item-action
						.d-flex
							p Hennessey OX
							p 1200/=
							p 30000/=
					li.list-group-item.list-group-item-action
						.d-flex
							p Hennessey VSOP 700ml
							p 700/=
							p 10000/=
					li.list-group-item.list-group-item-action
						.d-flex
							p Hennessey VS 700ml
							p 500/=
							p 8000/=
					li.list-group-item.list-group-item-action
						.d-flex
							p Martel VSOP 700ml
							p 700/=
							p 10000/=
					li.list-group-item.list-group-item-action
						.d-flex
							p Martel VS 700ml
							p 400/=
							p 8000/=
					li.list-group-item.list-group-item-action
						.d-flex
							p Courvoisier Brandy VSOP
							p 600/=
							p 12000/=
					li.list-group-item.list-group-item-action
						.d-flex
							p Viceroy
							p 250/=
							p 4500/=
			.col-md-6
				h4 RUM & CANE SPIRIT
				ul.list-group
					li.list-group-item.border-0
						.d-flex
							p
							p TOT
							p BOTTLE
					li.list-group-item.list-group-item-action
						.d-flex
							p Bacardi White
							p 200/=
							p 4000/=
					li.list-group-item.list-group-item-action
						.d-flex
							p Malibu
							p 200/=
							p 4000/=
					li.list-group-item.list-group-item-action
						.d-flex
							p Kenya Cane
							p 200/=
							p 3500/=
					li.list-group-item.list-group-item-action
						.d-flex
							p Myer’s
							p 250/=
							p 5000/=
					li.list-group-item.list-group-item-action
						.d-flex
							p Captain Morgan Black
							p 250/=
							p 4500/=
					li.list-group-item.list-group-item-action
						.d-flex
							p Captain Morgan Gold Spiced
							p 250/=
							p 5000/=
					li.list-group-item.list-group-item-action
						.d-flex
							p Amarula
							p 250/=
							p 4500/=
					li.list-group-item.list-group-item-action
						.d-flex
							p Baileys
							p 250/=
							p 4500/=
					li.list-group-item.list-group-item-action
						.d-flex
							p Cointreau
							p 250/=
							p 4000/=
					li.list-group-item.list-group-item-action
						.d-flex
							p Kahlua
							p 200/=
							p 4500/=
					li.list-group-item.list-group-item-action
						.d-flex
							p Southern C Comfort
							p 250/=
							p 4500/=
					li.list-group-item.list-group-item-action
						.d-flex
							p Triple Sec
							p 250/=
							p 4500/=
					li.list-group-item.list-group-item-action
						.d-flex
							p Jägermeister
							p 250/=
							p 4500/=
					li.list-group-item.list-group-item-action
						.d-flex
							p Camino Silver
							p 200/=
							p 4000/=
					li.list-group-item.list-group-item-action
						.d-flex
							p Camino Gold
							p 200/=
							p 4000/=
					li.list-group-item.list-group-item-action
						.d-flex
							p Patron Cintronge
							p 300/=
							p 7000/=
	.button-wrapper.text-center.section
		a(href='#').btn.btn-dark-blue make reservation

