extends layout

append links
	link(href='../assets/css/index.css' rel='stylesheet')
block content
	.section.hero-section
		.text-center
			h1 breakfast
	.section.menu-section
		.container
			.row
				.col-sm-6
					a(href="").card
						img(src="../assets/images/breakfast.jpg")
						.overlay
							.text
								h4 breakfast menu
				.col-sm-6
					a(href="").card
						img(src="../assets/images/lunch.jpg")
						.overlay
							.text
								h4 lunch menu
				.col-sm-6
					a(href="").card
						img(src="../assets/images/beverages.jpg")
						.overlay
							.text
								h4 beverages menu
				.col-sm-6
					a(href="").card
						img(src="../assets/images/wines.jpg")
						.overlay
							.text
								h4 wine menu
