extends layout

append links
	link(href='../assets/css/index.css' rel='stylesheet')

block content
	.section.hero-section
		.text-center
			h1.text-center main
	.section.menu-section
		.container-fluid
			.row
				.col-sm-4
					a(href='main-menu.html').card.shadow-sm
						img(src='../assets/images/breakfast.jpg')
						.overlay
							.text
								h4 main menu
				.col-sm-4
					a(href='kids-menu.html').card.shadow-sm
						img(src='../assets/images/kids.jpg')
						.overlay
							.text
								h4 kids menu
				.col-sm-4
					a(href='beverages-menu.html').card.shadow-sm
						img(src='../assets/images/beverages.jpg')
						.overlay
							.text
								h4 beverages menu
