extends layout

append links
	link(href='../assets/css/main-menu.css' rel='stylesheet')

block content
	.section.hero-section
		.text-center
			h1 kids menu
	.section.menu-section
		.row
			.col-md-12
				h4 KIDS MENU
				ul.list-group
					li.list-group-item.list-group-item-action
						.d-flex
							p Mama’s Tomato Soup
							hr.divider
							p 250/=
					li.list-group-item.list-group-item-action
						.d-flex
							p Mixed Vegetable Soup of the Day
							hr
							p 250/=
					li.list-group-item.list-group-item-action
						.d-flex
							p Margarita Pizza
							hr
							p 500/=
					li.list-group-item.list-group-item-action
						.d-flex
							p Mini Beef Burger with French Fries
							hr
							p 550/=
					li.list-group-item.list-group-item-action
						.d-flex
							p Fried Egg with Baked Beans on Toast and Mini French Fries
							hr
							p 550/=
					li.list-group-item.list-group-item-action
						.d-flex
							p Stir Fried Chicken Flakes
							hr.divider
							p 650/=
						small
							smal.text-muted With spring vegetables and steamed rice
					li.list-group-item.list-group-item-action
						.d-flex
							p Pan Seared Tilapia Fillet
							hr.divider
							p 650/=
						small
							smal.text-muted With lemon butter steamed rice and fried vegetables
					li.list-group-item.list-group-item-action
						.d-flex
							p Toasted Cheese and Tomato
							hr.divider
							p 500/=
						small
							smal.text-muted Toasted on white Bread and served with French Fries
					li.list-group-item.list-group-item-action
						.d-flex
							p Spaghetti Bolognaise
							hr.divider
							p 450/=
						small
							smal.text-muted Cooked to perfection and served with rich meat sauce topped with parmesan cheese
					li.list-group-item.list-group-item-action
						.d-flex
							p Fish Fingers
							hr.divider
							p 650/=
						small
							smal.text-muted Well marinated fish flakes in bread crumbs. With fries and baked beans and vegetables served with tartar sauce
					li.list-group-item.list-group-item-action
						.d-flex
							p Little John
							hr.divider
							p 550/=
						small
							smal.text-muted Twin sausages with fried onions served with mashed potatoes and baked beans
					li.list-group-item.list-group-item-action
						.d-flex
							p Ice-Cream Scoops
							hr.divider
							p 550/=
						small
							smal.text-muted Two scoops from selections of vanilla, strawberry and chocolate
					li.list-group-item.list-group-item-action
						.d-flex
							p Black Forest Cake with Chocolate Fondue
							hr.divider
							p 250/=
					li.list-group-item.list-group-item-action
						.d-flex
							p Mini Tropical Fruit Cuts
							hr.divider
							p 250/=
	.button-wrapper.text-center.section
		a(href='#').btn.btn-dark-blue make reservation

