extends layout

append links
	link(href='../assets/css/main-menu.css' rel='stylesheet')

block content
	.section.hero-section
		.text-center
			h1 main menu
	.section.menu-section
		.row
			.col-md-6
				h4 salads
				ul.list-group
					li.list-group-item.list-group-item-action
						.d-flex
							p Grilled chicken Caesar salad
							hr.divider
							p 650/=
						small
							smal.text-muted Mixed greens, romaine tossed in our Caesar dressing, freshly grated Parmesan cheese and topped with a grilled chicken breast
					li.list-group-item.list-group-item-action
						.d-flex
							p Greek salad
							hr
							p 650/=
						small
							smal.text-muted Mixed greens, romaine, cucumber, red onions, fresh tomato, black olives and feta cheese
					li.list-group-item.list-group-item-action
						.d-flex
							p Chefs’ garden salad
							hr
							p 650/=
						small
							smal.text-muted Mixed greens cucumber, fresh tomato, peppers and red onion
			.col-md-6
				h4 STARTERS AND SNACKS
				ul.list-group
					li.list-group-item.list-group-item-action
						.d-flex
							p Soup of the day
							hr.divider
							p 500/=
						small
							smal.text-muted Chefs’ creation served with homemade fresh bread rolls and butter
					li.list-group-item.list-group-item-action
						.d-flex
							p Cream of Mushroom Soup
							hr
							p 500/=
						small
							smal.text-muted Served with sesame buns with butter
					li.list-group-item.list-group-item-action
						.d-flex
							p Cream of Tomato Soup
							hr
							p 500/=
						small
							smal.text-muted Traditionally baked tomato soup with bread croutons laced with cream
					li.list-group-item.list-group-item-action
						.d-flex
							p Beef or Chicken Broth
							hr
							p 500/=
						small
							smal.text-muted Well simmered beef or chicken broth in its trimmings seasoned to perfection served with bread rolls
					li.list-group-item.list-group-item-action
						.d-flex
							p Vegetable Custer rolls
							hr
							p 450/=
						small
							smal.text-muted Breaded crispy fried assorted nutty mixed vegetables drizzled with sweet & sour sauce
					li.list-group-item.list-group-item-action
						.d-flex
							p Chicken wings
							hr
							p 450/=
						small
							smal.text-muted Well marinated juicy chicken wings, tossed in caramelized onion and garlic soy sauce
					li.list-group-item.list-group-item-action
						.d-flex
							p Loaded fries
							hr
							p 300/=
						small
							smal.text-muted Plain potato chips or masala chips
					li.list-group-item.list-group-item-action
						.d-flex
							p Mini fish brochettes
							hr
							p 450/=
						small
							smal.text-muted Grilled fish on skewers
					li.list-group-item.list-group-item-action
						.d-flex
							p Assorted Samosas
							hr
							p 400/=
						small
							smal.text-muted 3 pieces Choice Beef, Chicken and Vegetables with condiments
			.col-md-6
				h4 TOASTED SANDWICHES
				ul.list-group
					li.list-group-item.list-group-item-action
						.d-flex
							p Chicken mayo/Cheese and tomato/Bacon and egg/Cucumber and tomato
							hr.divider
							p 650/=
						small
							smal.text-muted On white or brown bread, all served with French Fries
			.col-md-6
				h4 HOUSE SPECIAL BURGERS
				ul.list-group
					li.list-group-item.list-group-item-action
						.d-flex
							p Chicken burger
							hr.divider
							p 750/=
						small
							smal.text-muted Grilled Minced chicken patty, seasoned to perfection, Topped with fried eggs bacon and cheese in burger burns
					li.list-group-item.list-group-item-action
						.d-flex
							p Beef burger
							hr.divider
							p 750/=
						small
							smal.text-muted Well-seasoned Grilled minced beef patty, topped with fried egg, Hamm and cheese in burger burns
			.col-md-6
				h4 PIZZERIA
				ul.list-group
					li.list-group-item.list-group-item-action
						.d-flex
							p Margarita large
							hr.divider
							p 650/=
						small
							smal.text-muted Tomato cheese and oregano
					li.list-group-item.list-group-item-action
						.d-flex
							p Margarita medium
							hr
							p 400/=
					li.list-group-item.list-group-item-action
						.d-flex
							p Chicken tikka large
							hr
							p 500/=
						small
							smal.text-muted Tomato, spicy chicken, basil, chili, oregano
					li.list-group-item.list-group-item-action
						.d-flex
							p Chicken tikka medium
							hr
							p 550/=
					li.list-group-item.list-group-item-action
						.d-flex
							p Frutito large
							hr
							p 750/=
						small
							smal.text-muted Tomato, cheese, oregano, pineapple, chicken. And sweet corn
					li.list-group-item.list-group-item-action
						.d-flex
							p Frutito medium
							hr
							p 550/=
					li.list-group-item.list-group-item-action
						.d-flex
							p Veggie Ranch Large
							hr
							p 650/=
						small
							smal.text-muted Tomato, cheese, bell peppers, mushroom, spinach, onion & garlic
					li.list-group-item.list-group-item-action
						.d-flex
							p Veggie Ranch Medium
							hr
							p 450/=
					li.list-group-item.list-group-item-action
						.d-flex
							p Tono Verdure Large
							hr
							p 750/=
						small
							smal.text-muted Tomato, cheese, oregano, Bell peppers, black olives, tuna chunks
					li.list-group-item.list-group-item-action
						.d-flex
							p Tono Verdure Medium
							hr
							p 550/=
					li.list-group-item.list-group-item-action
						.d-flex
							p Extra Toppings
							hr
							p 150/=
			.col-md-6
				h4 MAIN DISHES
				h4.sub-title ALL THE MAIN DISHES ARE SERVED WITH FRENCH FRIES OR STEAMED RICE OR UGALI OR CHAPATI AND SEASONAL VEGETABLES
				ul.list-group
					li.list-group-item.list-group-item-action
						.d-flex
							p Grilled whole Tilapia aka kavirondo
							hr.divider
							p 1250/=
						small
							smal.text-muted Served with tomato and coriander sauce
					li.list-group-item.list-group-item-action
						.d-flex
							p Jumbo goujons of fish and chips
							hr.divider
							p 900/=
						small
							smal.text-muted Served with tartar sauce and lemon wedge
					li.list-group-item.list-group-item-action
						.d-flex
							p Pan seared fillet of Tilapia
							hr.divider
							p 900/=
						small
							smal.text-muted With own choice of lemon and butter or piri piri sauce
					li.list-group-item.list-group-item-action
						.d-flex
							p Grilled pork chops with apple mint
							hr.divider
							p 1300/=
					li.list-group-item.list-group-item-action
						.d-flex
							p Simply Asia
							hr.divider
							p 1300/=
						small
							smal.text-muted Grilled marinated pork chops in mixed herbs and ginger served with garlic soy sauce
					li.list-group-item.list-group-item-action
						.d-flex
							p Perfect beef stew
							hr.divider
							p 900/=
					li.list-group-item.list-group-item-action
						.d-flex
							p Tenderloin of beef fillet steak
							hr.divider
							p 1250/=
						small
							smal.text-muted Well marinated, grilled to perfection and served with creamy pepper sauce
					li.list-group-item.list-group-item-action
						.d-flex
							p Lamb chops
							hr.divider
							p 1150/=
						small
							smal.text-muted Marinated in fresh house herbs, grilled and served with mint gravy
					li.list-group-item.list-group-item-action
						.d-flex
							p Beef Bolognaise
							hr.divider
							p 850/=
						small
							smal.text-muted Tossed with spaghetti or tagliatelle pastas and topped with Parmesan cheese
					li.list-group-item.list-group-item-action
						.d-flex
							p Spicy chicken Makhani
							hr.divider
							p 1150/=
						small
							smal.text-muted Boneless chicken cooked in a rich, tasty spicy east Africa tomato peanut sauce
					li.list-group-item.list-group-item-action
						.d-flex
							p Chicken leg or breast
							hr.divider
							p 900/=
						small
							smal.text-muted Well marinated in garlic and ginger grilled, served with mushroom sauce
					li.list-group-item.list-group-item-action
						.d-flex
							p Chicken Ohigla
							hr.divider
							p 1150/=
						small
							smal.text-muted From the ancient kavirondo style, Local chicken cooked in its own jus And served with famous ugali and Osuga
					li.list-group-item.list-group-item-action
						.d-flex
							p Aloo Matar masala
							hr.divider
							p 750/=
						small
							smal.text-muted Peas and potato in spicy masala sauce
					li.list-group-item.list-group-item-action
						.d-flex
							p Lasagne verdure
							hr.divider
							p 750/=
						small
							smal.text-muted Fried mixed vegetables Layered with lasagne pasta, tomato sauce and cream sauce topped with Parmesan cheese
					li.list-group-item.list-group-item-action
						.d-flex
							p Beijing
							hr.divider
							p 750/=
						small
							smal.text-muted Stir fried mixed vegetables tossed in mild garlic and ginger flavor
			.col-md-6
				h4 DESSERTS
				ul.list-group
					li.list-group-item.list-group-item-action
						.d-flex
							p Chocolate Mousse
							hr.divider
							p 450/=
						small
							smal.text-muted Sweet mousse typically made with whipped egg whites, whipped Cream and flavored with chocolate
					li.list-group-item.list-group-item-action
						.d-flex
							p Tiramisu
							hr.divider
							p 500/=
					li.list-group-item.list-group-item-action
						.d-flex
							p Trio of ice cream scoops
							hr.divider
							p 500/=
						small
							smal.text-muted (Vanilla, strawberry, chocolate)
					li.list-group-item.list-group-item-action
						.d-flex
							p A plate of fresh fruits
							hr.divider
							p 550/=
					li.list-group-item.list-group-item-action
						.d-flex
							p Fresh tropical Fruit salad
							hr.divider
							p 400/=
	.button-wrapper.text-center.section
		a(href='#').btn.btn-dark-blue make reservation

