extends layout

append links
	link(href='../assets/css/sample-menu.css' rel='stylesheet')

block content
	.section.hero-section
		.text-center
			h1 breakfast menu
	.section.menu-section
		.row
			.col-md-6
				h4 starters
				ul.list-group
					li.list-group-item.list-group-item-action
						.d-flex
							p hot beverages
							hr.divider
							p kshs. 500
						small
							smal.text-muted Lorem ipsum dolor sit amet, consectetur adipiscing elit
					li.list-group-item.list-group-item-action
						.d-flex
							p freshly squeezed juices
							hr
							p kshs. 400
						small
							smal.text-muted Lorem ipsum dolor sit amet, consectetur adipiscing elit
					li.list-group-item.list-group-item-action
						.d-flex
							p cereal selection
							hr
							p kshs. 400
						small
							smal.text-muted Lorem ipsum dolor sit amet, consectetur adipiscing elit
					li.list-group-item.list-group-item-action
						.d-flex
							p yoghurts
							hr
							p kshs. 400
						small
							smal.text-muted Lorem ipsum dolor sit amet, consectetur adipiscing elit
					li.list-group-item.list-group-item-action
						.d-flex
							p seasonal fruits
							hr
							p kshs. 850
						small
							smal.text-muted Lorem ipsum dolor sit amet, consectetur adipiscing elit
			.col-md-6
				h4 mains
				ul.list-group
					li.list-group-item.list-group-item-action
						.d-flex
							p egg benedict
							hr.divider
							p kshs. 800
						small
							smal.text-muted Lorem ipsum dolor sit amet, consectetur adipiscing elit
					li.list-group-item.list-group-item-action
						.d-flex
							p egg florentine
							hr
							p kshs. 800
						small
							smal.text-muted Lorem ipsum dolor sit amet, consectetur adipiscing elit
					li.list-group-item.list-group-item-action
						.d-flex
							p steak and egg
							hr
							p kshs. 1000
						small
							smal.text-muted Lorem ipsum dolor sit amet, consectetur adipiscing elit
					li.list-group-item.list-group-item-action
						.d-flex
							p express breakfast
							hr
							p kshs. 1950
						small
							smal.text-muted Lorem ipsum dolor sit amet, consectetur adipiscing elit
					li.list-group-item.list-group-item-action
						.d-flex
							p egg selection
							hr
							p kshs. 500
						small
							smal.text-muted Lorem ipsum dolor sit amet, consectetur adipiscing elit
	.button-wrapper.text-center.section
		a(href='#').btn.btn-dark-blue make reservation

